
* {
  font-family: 'Inter';
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter';
  width: calc(100% - 2.5rem);

  padding: 20px;
  background: #2d2d3e;
}

.data-header{
  color: #ff9e2c;
}

.header img{
  width: 8.75rem;
  min-width: 7rem;
}

.hero-title{
  font-family: 'Clash Grotesk', sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.25em;
}

.drive-logo{
  max-width: 2.5rem;
  padding-right: 1rem;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
}

.book-demo {
  padding: 10px 20px;
  background: #4a90e2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  display: flex;
  max-width: 1200px;
  margin-top: 50px;
  margin: auto;
}

.left, .right {
  padding: 20px;
  width: 50%;
}



.risk-report-btn {
  color: black;
  font-family: 'Inter';
  white-space: nowrap;
  background-color: #fff;
  border-radius: .25rem;
  padding: 1rem 2.6rem 1rem 1.5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  border: 1px solid #aeae84;
  width: fit-content;
}

.left ul {
  list-style: none;
  padding: 0;
}

.left ul li {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.disclaimer {
  margin-top: 20px;
  font-size: 0.9em;
  color: #666
}

.report-summary {
  background: #2d2d3e;
  padding: 20px;
  border-radius: 10px;
}

.report-summary h2 {
  margin-top: 0;
}

.risk-score {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.risk-score .label {
  font-weight: bold;
  margin-right: 10px;
}

.risk-score .score {
  padding: 5px 10px;
  border-radius: 5px;
}

.risk-score .critical {
  background: #d9534f;
  color: #ffffff;
}

.stats {
  display: flex;
  gap: 20px;
}

.stat {
  text-align: center;
}

.stat .number {
  font-size: 1.5em;
  font-weight: bold;
}

.urgent-files table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.urgent-files th, .urgent-files td {
  border: 1px solid #444;
  padding: 10px;
  text-align: left;
}

.testimonials h3 {
  margin-top: 0;
    margin-bottom: 1rem;
    font-family: Clashgrotesk, sans-serif;
    font-size: 2.375rem;
    font-weight: 500;
    line-height: 1.3em;
}

.testimonials h2{
  color: #6e7191;
  letter-spacing: .06em;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3em;
}

.testimonials {
  padding-top: 2rem;
  text-align: center;
  max-width: 1100px;
  /* margin: 50px 20px; */
  background-color: white;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.testimonial {
  background: #ffffff;
  padding: 20px;
  border: 1px solid #6c757d ;
  border-radius: 5px;
}

.stars {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.author img {
  width: 30px;
  height: 30px;
}

.author span {
  font-size: 0.9em;
}

.author .date {
  margin-left: auto;
  color: #231c1c;
}








.third-page {
  padding: 50px 20px;
  background-color: #f8f8f8;
  width: 100%;
  text-align: center;
}

.third-page h2 {
  font-size: 1.2em;
  color: #6c757d;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.third-page h3 {
  font-size: 2em;
  color: #333;
  margin-bottom: 30px;
  font-family: Clashgrotesk, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.25em;
}

.third-page .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-page ul {
  text-align: left;
  margin: 0;
  padding: 0;
  flex: 1;
  max-width: 300px;
}

.third-page ul li {
  font-size: 1em;
  margin: 10px 0;
  color: #555;
}
.third-page .content ul{
  padding: 0 8rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.third-page .images img:first-child{
  width: 35rem;
}

.third-page .images img:nth-child(2){
  width: 17rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(-2rem);
}

.third-page .images {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.third-page .images img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
}












.risk-report-container {
  text-align: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.risk-report-container h2{
  letter-spacing: .06em;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3em;
  color: #6e7191;
}

.risk-report-container h3{
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Clashgrotesk, sans-serif;
  font-size: 2.375rem;
  font-weight: 500;
  line-height: 1.3em;
}

h2 {
  color: #6c63ff;
}

h3 {
  margin: 1rem 0;
  color: #333;
}

.options-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.option {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  margin: 1rem;
  flex: 1;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.option.recommended {
  background: #dcd0ff;
  border: 1px solid #6c63ff;
}

h4 {
  color: #6c63ff;
}

p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.5;
}

button {
  background: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: #5946db;
}

.risk-report-button {
  background: #fff;
  color: #6c63ff;
  border: 1px solid #6c63ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: .9rem;
  white-space: nowrap;
  border-radius: .25rem;
  padding: 0.5rem 2.6rem 0.5rem 1.5rem;
  text-decoration: none;
}

.risk-report-button img{
  max-width: 2rem;
  padding-right: 1rem;
}

.risk-report-button:hover {
  background: #6c63ff;
  color: #fff;
}

.demo-button {
  background: #6c63ff;
  color: #fff;
}

.demo-button:hover {
  background: #5946db;
}



.plan h4{
  font-family: Clashgrotesk, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.plan p{
  font-family: Clashgrotesk, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.333em;
  margin-top: 50px;
}

.child-p{
  display: block;
  unicode-bidi: isolate;
  margin-top: 25px;
  margin-top: 25px;
}

.option h4{
  font-family: Clashgrotesk, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3em;
}

.parent-p{
  margin-top: 25px;
  font-family: Clashgrotesk, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.333em;
}

.demo-button{
  margin-top: 40px;
}

.option-first{
  font-family: Clashgrotesk, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.333em;
  font-family: Clashgrotesk, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.333em;
  margin-top: 50px;
}

.option-second{
  margin-top: 20px;
}

.demo-option-second{
  margin-top: 22px;
}

.demo-option{
  font-family: Clashgrotesk, sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.333em;
    margin-top: 16px;  
}

/* .App {
  font-family: Arial, sans-serif;
} */

.footer{
  width: 100%;
}

.certifications img{
  max-width: 8rem;
  height: 6rem;
  margin: 0 10px;
  
}

.footer-bottom{
  max-width: 1200px;
  width: 100%;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer h3{
  color: white;
}

footer {
  background-color: #2a2a2a;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  max-width: 1300px;
  align-items: start;
}

.footer-container img{
  align-items: start;
  width: 100%;
  max-width: 10rem;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  padding-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
  font-family: 'Inter';
}

.social-icons {
  display: flex;
  justify-content: flex-start;
}

.social-icons a {
  color: white;
  margin-right: 10px;
  font-size: 24px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
footer img{
  margin-top: 25px;

}

.tour-button {
  background-color: #6200ee;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  padding-left: 0;
  font-size: .875rem;
}

.certifications {
  display: flex;
  align-items: center;
}

.small-image {
  width: 50px;
  height: auto;
}

.footer-section company{
  margin-bottom: 2.5rem;
  font-family: Clashgrotesk, sans-serif;
  font-weight: 200;
  font-family: 'Inter';
}



.footer-description{
  margin-bottom: 0;
  font-family: Clashgrotesk, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.footer-title{
  font-family: Clashgrotesk, sans-serif;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.1em;
  color: white;
}


.risk-report-btn:hover {
  background-color: #fba11a;
}

.footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 650px;
  max-width: 1200px;
  /* margin: 0 auto; */
  margin-top: 50px;
  padding:  20px 20px 0;
  border-top: .0625rem solid rgba(255, 255, 255, .3);
}
.cms{
  display: flex;
  gap: 50px;
}

